@import url(../../../index.css);

.sectiongame {
    display: flex;
    background-color: #1C0020;
    justify-content: center;
    color: white;
    padding: 101px 131px;
    gap: 34px;
    position:relative;
}

.GroupContentGame {
    display: flex;
    flex-direction: column;
    width: 561px;
    gap: 35px;
}

.GroupContentGame button{
    display: flex;
    color: #fff;
    align-self: flex-start;
    background: linear-gradient(to right, #7DC7E0 0%, #8A15B4 100%);
    padding: 9px 23px;
    border-radius: 21px;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.GroupContentGame a {
    text-decoration: none;
    font-family: var(--font-family-jersey);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.GroupContentGame h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
    
}


.groupmission{
    display:flex;
    align-items: center;
    gap:10px;
}

.PHero{
    font-family: var(--font-family-jersey);
    font-size: 20px;
}

.DescriptionGame{
    color:#D9D8D8;
    font-weight: 300;
    font-size:20px;
}

.Waveone{
position: absolute;
bottom: 0;
width: 100%;
}

.Wavetwo{
position: absolute;
bottom: 0;
right: 0;
width: 60%;
}

@media (max-width:698px) {
    .sectiongame {
        flex-direction: column;
        padding: 50px 20px;
    }

    .GroupContentGame {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .GroupContentGame button {
        align-self: center;
    }
    .GroupImageGame{
    align-self: center;
}
.Waveone, .Wavetwo {
    width: 90%;
}}
