@import url(../../index.css);

.card {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;

}

.iconscard{
    display: flex;
    gap: 10px;
}

.card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-top: 20px;
}