@import url(../../../index.css);

.Section_Main{
    display: flex;
    gap: 220px;
    padding: 130px 144px;
    justify-content: center;
    align-items: center;
    margin-top:100px ;
}

.container1main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 540px;
}

.spanMain{
    display: flex;
    align-items: center;
    background-color: #CFC0FE80;
    align-self: flex-start;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    color: #5E4383;
    padding: 5px 9px;
}

.group1Main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.group1Main h1{
    font-size: 40px;
    font-weight: 800;
    font-family: var(--font-family-poppins);
    color: #000000;
}

.group1Main span{
    font-size: 40px;
    font-weight: 800;
    color: #10895E;
}

.group1Main p{
    font-size: 20px;
    font-weight: 400;
    color: #565656;
    font-family: var(--font-family-poppins);
    line-height: 30px;
    width: 537px;
}

.buttonMain{
    display: flex;
    gap: 24px;
}

.DownloadMain{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #35A17C;
    color: var(--color-neutral-white);
    padding: 4px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    border-radius: 16px;
}

.SeeMain{
    display: flex;
    align-items: center;
    background-color: #CBE9DE;
    color: #2A8264;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    border: 1px solid #74AB9F;
    border-radius: 16px;
}

@media (max-width: 768px){

    .Section_Main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 50px 15px;
    }

    .group1Main p{
        width: 100%;
    }
  
    .spanMain{
            align-self: center;
            width: 100%;
            text-align: center;
            gap: 5px;

    }
    
    .group1Main h1{
        text-align: center;
    }

    .group1Main p{
        text-align: center;
    }

    .buttonMain{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        .DownloadMain{
            padding: 20px 20px;
            width: 80%;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .SeeMain{
            padding: 20px 20px;
            width: 80%;
            text-align: center;
            align-items: center;
                        justify-content: center;

        }
}