@import url(../../../index.css);

.section-map {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 83px;
    padding: 0px  136px 195px 136px;
    background-color: #fff;
    border-radius: 18px;
    position: relative;
}

.section-map iframe{
    width: 584px;
    height: 736px;
}

.group1map{
    display: flex;
    flex-direction: column;
    position: relative;

}

.complementationMap{
    display: flex;
    flex-direction: column;
    width: 444px;
    position: absolute;
    bottom: -10%;
    left: 10%;
    background-color: #FFFBFB;
    box-shadow: 6px 7px 4.8px 0px rgba(0, 0, 0, 0.16);
    padding: 15px 12px;
    border-radius: 10px;
}

.iconCompletationMap {
    display: flex;
    gap: 6px;
}



.OrangeDriver{
    background-color: #FEEAC9;
    color: #FF8400;
    border: 1px solid #FF8400;
}

.EletronicTrash{
    background-color: #46BDCB54;
    color: #0C92A1;
    border: 1px solid #0C92A1;
}

.complementationMap span {
    display: flex;
    border-radius: 8px;
    padding: 1px 5px;
    gap: 6px;
    font-size: 11px;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.complementationMap h3{
    font-size: 24px;
    font-weight: 600;
    color: #2C6C56;
}

.IconMapSpan{
    display: flex;
    gap: 6px;
    background-color: #F322224D;
    padding: 5px 7px;
    border-radius: 15px;
    
    align-self: flex-start;
}

.group2map{
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 482px;
}

.group2map h2{
    font-size: 40px;
    font-weight: 900;
    color: #000000;
}
.TextAboutEletronic{
    font-size: 20px;
    color: #565656;
    font-weight: 400;
    line-height: 30px;
}
.SpanDescartar{
    color: #F52323;;
}
.textmap{
    margin-left: 28px;
    margin-right: 49px;
}

.local{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.Bairro-cidade{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.iconCompletationMap {
    display: flex;
}

.messageMap{
    display: flex;
    gap: 15px;
    border-radius: 30px;
    font-size: 16px;
    color: #565656;
    align-items: center;
}

.messages-container{
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.messageMap2{
    display: flex;
    gap: 15px;
    border-radius: 30px;
    font-size: 16px;
    color: #565656;
    align-items: center;
}

@media (max-width: 768px) {
    .section-map{
        flex-direction: column;
        gap: 20px;
        padding: 0px 15px 50px 15px;
    }
    .section-map iframe{
        width: 124%;;
        align-self: center;
    }
    .complementationMap{
        width: 100%;
        flex-direction: column;
        bottom: -17%;
        left: 0%;
    }

    .group2map{
        display: flex;
        padding-top: 120px;
        flex-direction: column;
        width: 100%;
        text-align: center;

    }

    .IconMapSpan{
        align-self: center;
    }
}