@import url("../../../index.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.Header_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.Header_section ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 33px;
    
}

.Header_section button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 128px;
    border-radius: 16px;
    background-color: #35A17C;
    color: #ffff;
    padding: 10px 5px;
}

.Header_section ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@media (max-width: 768px){


    
}