@import url(../../../index.css);


.info-cards-section{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #CFC0FE80;
    padding: 195px 90px;
}

.containerCards{
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: center;
}